# Copy this file to create local env files per environment.
# Use one of the modes: sit, uat, production
# Example: .env.sit, .env.uat, .env.production

VITE_APP_ENV=local
VITE_API_URL=http://localhost:3000
VITE_ENABLE_SENTRY=false
